

body{
  padding-top: 70px;
}

.arc path {
  stroke: #fff;
}

ul li{
  display: block;  
}


#emojilist li
{	
	display: inline;
}

#emojilist{
	text-align: center;
}

li .project-image{
	display: inline;
}

.glyphicon {
    font-size: 30px;
}

.medium-emoji {
	width: 80px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.moodGraphContainer {
	width: auto;
	height: auto;
}

#svgPie{
	float: none;
	text-align: center;
	width: 100%;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.companylogo
{
	float:left;
}

.graph-key-bar 
{
	display:block;
	width:100%;
	height:50px;
	background-color: #abcabc;
	margin-bottom: 10px;
}

.pageTitle {
	text-align: center;
}