

body{
  padding-top: 70px;
}

.arc path {
  stroke: #fff;
}

ul li{
  display: block;  
}


.btn-default{
	border-color: #222 !important;
	background-color: #222  !important;
}

#navlist li
{	
	display: inline;
	padding-right: 30px;	
}

#navlist{
	text-align: center;
}

li .project-image{
	display: inline;
}

.glyphicon {
    font-size: 30px;
}
#img-responsive {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#svgPie{
	text-align: center;
}

.companylogo
{
	float:left;
}
