 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="about"> <img class="companyLogo" src="/images/emojiLogo.png" alt="Emojilyze" ></a> 

            </div>   
            <!-- /.navbar-collapse -->
            <div class="navbar-collapse collapse"> 
              <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="mymood">My Mood</a></li>
                <li><a ui-sref="theirmood">Their Mood</a></li>
                <li><a ui-sref="ourmood">Our Mood</a></li>
                <li><a ui-sref="weeklybreakdown">Weekly Breakdown</a></li>
                <li><a ui-sref="setup">Setup</a></li>
              </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <!-- <div class = "container moodGraphContainer"> -->
      <div class="jumbotron text-center pageTitleBar">
        <h4 class="pageTitle">About Emojilyze</h4>
      </div>

      <p> Emojilyze is an emoji-tracking application that allows you to become more mindful of your daily moods and how those moods are affected by your interactions with others. 
        <ul id = "aboutPages">
          <li> <b class="pageTitleGreen">My Mood</b> allows you to see your top 5 moods for the day. Aced a test? Stepped in gum? Just click one of the emojis to update your current mood.</li>
          <li> <b class="pageTitleGreen">Their Mood</b> showcases your friend's top 4 moods for the day so far. Click on emojis to see their respective Categories.</li>
          <li> <b class="pageTitleGreen">Our Mood</b> helps you understand how your daily interactions affect your friends' moods. Mood before shows your friend's mood before they started talking to you, Mood After shows their mood after talking to you, and Emoji Most Used details the emoji used the most in your conversation.</li>
          <li> <b class="pageTitleGreen">Weekly Breakdown</b> shows you how your moods change throughout the week. Do you use a lot happy emojis on Fridays? Lots of angry emojis on Mondays?</li>
          <li> <b class="pageTitleGreen">Setup</b> includes options on whether or not to use custom categories, as well as provacy settings. If you want to customize your categories, simply Sort the Emojis.</li>
        </ul>
       

      </p>