<!DOCTYPE html>

<html>
  <head>
    <title>My Mood</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <script src="./javascripts/angularApp.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body ng-app="myApp">
     <div class="container">
      <div ng-controller="DropdownCtrl">
        <div ui-view></div>
      </div>
     </div> 
 
  <script src="/javascripts/ourmood.js"></script>
  <script src="/javascripts/d3.js"></script>
  <script src="/javascripts/d3circle.js"></script>
  <script src="/javascripts/d3bar.js"></script>
  <script src="/javascripts/dropdown.js"></script>
  <script src="/javascripts/mymood.js"></script>
  <script src="/javascripts/theirmood.js"></script>
  <script src="/javascripts/sorting.js"></script>
  <script src="/javascripts/mymoodalt.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
</body>

</html>