
      <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="about"> <img class="companyLogo" src="/images/emojiLogo.png" alt="Emojilyze" ></a>  

            </div>   
            <!-- /.navbar-collapse -->
            <div class="navbar-collapse collapse"> 
              <ul class="nav navbar-nav navbar-left">
                <li class="active"><a ui-sref="mymood">My Mood</a></li>
                <li><a ui-sref="theirmood">Their Mood</a></li>
                <li><a ui-sref="ourmood">Our Mood</a></li>
                <li><a ui-sref="weeklybreakdown">Weekly Breakdown</a></li>
                <li><a ui-sref="setup">Setup</a></li>
                <li><a ui-sref="mymoodalt">My Mood Alternative</a></li>

              </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>
     <div ng-controller="aboutCtrl">
    <p><button type="button" class="altBtn btn btn-lg aboutButton" data-toggle="popover" title="About This Page" data-placement="bottom" data-content="Allows you to see your top 5 moods for the day. Aced a test? Stepped in gum? Just click one of the emojis to update your current mood">Today's Mood</button></p>


      <p class="instructions"> Explore the graph to learn <b>today's</b> top 5 moods. </p>
      
             
      <div id="svgPie"> 
        <d3-Circle></d3-Circle>
      </div>
    </div>

    <div ng-controller="mymoodCtrl">
      <div class = "graph-key-bar">
        <p class="moodInstructions">Click an emoji to update your current mood!</p>
      </div>

      <ul id="emojilist">
        <li ng-repeat= "mymood in mymoods">
          <img class="img-responsive project-image medium-emoji" ng-click="open(size,mymood.name,mymood.imageSRC,mymood.defaultCategory)"ng-src="/{{mymood.imageSRC}}"/>
          <div>{{mymood.customCategory}}</div>
        </li>
          
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Adding Mood</h3>
        </div>
        <div class="modal-body">
          <p>You are currently setting your mood to {{customCategory}}<img class="img-responsive project-image medium-emoji" ng-src="/{{imageSRC}}" style="vertical-align:middle"/></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" input type="submit" ng-click="theupdate()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
      </ul>
    </div>


