<link rel="stylesheet" href="css/screen.less" type="text/less" media="screen" />
<script src="js/less-1.1.3.min.js" type="text/javascript" ></script>
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="about"> <img class="companyLogo" src="/images/emojiLogo.png" alt="Emojilyze" ></a> 

            </div>   
            <!-- /.navbar-collapse -->
            <div class="navbar-collapse collapse"> 
              <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="mymood">My Mood</a></li>
                <li><a ui-sref="theirmood">Their Mood</a></li>
                <li class="active"><a ui-sref="ourmood">Our Mood</a></li>
                <li><a ui-sref="weeklybreakdown">Weekly Breakdown</a></li>
                <li><a ui-sref="setup">Setup</a></li>
              </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <div class="jumbotron text-center pageTitleBar">
    <h4>Our Mood</h4>
    </div>
    <div class="instructions">
        Click on any of your friend's icon to see details of their mood when talking to you, like their mood before you started talking and their mood after. 
    </div>
    <br>

<!--Start of user's mood breakdown -->

  <div ng-controller="ourmoodCtrl">   

            <img class="userIcon" ng-src="/{{friends[0].image}}"/ ng-click="toggle()">
            <br>
            <div class="userLabel">{{friends[0].name}}</div>
            <div class="moodBreakdown" ng-show="myVar">
                <div class="moodLabel"><span>Mood Before</span></div>
                <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji3.imageSRC}}">
                  {{friends[0].yourMoodBefore}}
                </li> 
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji2.imageSRC}}">
                  {{friends[0].theirMoodBefore}}
                </li> 

                <div class="moodLabel"><span>Mood After</span></div>
                <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji1.imageSRC}}">
                  {{friends[0].yourMoodAfter}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji4.imageSRC}}">
                  {{friends[0].theirMoodAfter}}
                </li>

                <div class="moodLabel">Emojis Most Used<br><span>in Conversation</span></div>
                <p class="ourMoodIcon">
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji4.imageSRC}}">
                  {{friends[0].moodUsed}}
                </p> 
                <p><button type="button" class="relationBtn btn btn-lg btn-danger" data-toggle="popover" title="Relationship" data-placement="bottom" data-content="She makes you angry, but it seems like you like her alot! What does this person mean to you?">Feedback</button></p>
              </div>
            <hr>
       
            <img class="userIcon" ng-src="/{{friends[1].image}}"/ ng-click="toggle2()">
            <br>
            <div class="userLabel">{{friends[1].name}}</div>
            <div class="moodBreakdown" ng-show="myVar2">
              <br>
              <div class="moodLabel"><span>Mood Before</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji2.imageSRC}}">
                  {{friends[1].yourMoodBefore}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji3.imageSRC}}">
                  {{friends[1].theirMoodBefore}}
                </li>

              <div class="moodLabel"><span>Mood After</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji1.imageSRC}}">
                  {{friends[1].yourMoodAfter}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji4.imageSRC}}">
                  {{friends[1].theirMoodAfter}}
                </li>
              <div class="moodLabel">Emojis Most Used<br><span>in Conversation</span></div>
              <p class="ourMoodIcon">
                <img class="ourMoodEmoji" ng-src="{{friends[1].emoji[0].emoji4.imageSRC}}">
                {{friends[1].moodUsed}}
              </p> 
              <p><button type="button" class="relationBtn btn btn-lg btn-danger" data-toggle="popover" title="Relationship" data-placement="bottom" data-content="One minute you guys are laughing together and the next minute, you're mad at her. Don't let this mood get to you. She makes you happy most of the time.">Feedback</button></p>
            </div>
        <hr>
     
            <img class="userIcon" ng-src="/{{friends[2].image}}"/ ng-click="toggle3()" >
            <br>
            <div class="userLabel">{{friends[2].name}}</div>
            <div class="moodBreakdown" ng-show="myVar3">
              <br>
              <div class="moodLabel"><span>Mood Before</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji1.imageSRC}}">
                  {{friends[2].yourMoodBefore}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji2.imageSRC}}">
                  {{friends[2].theirMoodBefore}}
                </li> 
              <div class="moodLabel"><span>Mood After</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji4.imageSRC}}">
                  {{friends[2].yourMoodAfter}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji3.imageSRC}}">
                  {{friends[2].theirMoodAfter}}
                </li>
              <div class="moodLabel">Emojis Most Used<br><span>in Conversation</span></div>
              <p class="ourMoodIcon">
                <img class="ourMoodEmoji" ng-src="{{friends[2].emoji[0].emoji4.imageSRC}}">
                {{friends[2].moodUsed}}
              </p>
              <p><button type="button" class="relationBtn btn btn-lg btn-danger" data-toggle="popover" title="Relationship" data-placement="bottom" data-content="You tend to make this person sad and angry at you. Maybe you should evaluate your actions and do something different.">Feedback</button></p> 
            </div>
        <hr>

            <img class="userIcon" ng-src="/{{friends[3].image}}"/ ng-click="toggle4()">
            <br>
            <div class="userLabel">{{friends[3].name}}</div>
            <div class="moodBreakdown" ng-show="myVar4">
              <br>
              <div class="moodLabel"><span>Mood Before</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji1.imageSRC}}">
                  {{friends[3].yourMoodBefore}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji2.imageSRC}}">
                  {{friends[3].theirMoodBefore}}
                </li>
              <div class="moodLabel"><span>Mood After</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji3.imageSRC}}">
                  {{friends[3].yourMoodAfter}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji4.imageSRC}}">
                  {{friends[3].theirMoodAfter}}
                </li>
              <div class="moodLabel">Emojis Most Used<br><span>in Conversation</span></div>
              <p class="ourMoodIcon">
                <img class="ourMoodEmoji" ng-src="{{friends[3].emoji[0].emoji3.imageSRC}}">
                {{friends[3].moodUsed}}
              </p>
              <p><button type="button" class="relationBtn btn btn-lg btn-danger" data-toggle="popover" title="Relationship" data-placement="bottom" data-content="It's obvious that she is not getting along with you. Change up your game and try to find some common ground.">Feedback</button></p>  
            </div>
        <hr>
    
            <img class="userIcon" ng-src="/{{friends[4].image}}"/ ng-click="toggle5()" >
            <br>
            <div class="userLabel">{{friends[4].name}}</div>
            <div class="moodBreakdown" ng-show="myVar5">
              <br>
              <div class="moodLabel"><span>Mood Before</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji2.imageSRC}}">
                  {{friends[4].yourMoodBefore}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji4.imageSRC}}">
                  {{friends[4].theirMoodBefore}}
                </li>  
              <div class="moodLabel"><span>Mood After</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji3.imageSRC}}">
                  {{friends[4].yourMoodAfter}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji1.imageSRC}}">
                  {{friends[4].theirMoodAfter}}
                </li>
              <div class="moodLabel">Emojis Most Used<br><span>in Conversation</span></div>
              <p class="ourMoodIcon">
                <img class="ourMoodEmoji" ng-src="{{friends[4].emoji[0].emoji2.imageSRC}}">
                {{friends[4].moodUsed}}
              </p> 
              <p><button type="button" class="relationBtn btn btn-lg btn-danger" data-toggle="popover" title="Relationship" data-placement="bottom" data-content="You both do not seem compatible with each other. Maybe it's time to move on.">Feedback</button></p> 
            </div>
        <hr>

            <img class="userIcon" ng-src="/{{friends[5].image}}"/ ng-click="toggle6()" >
            <br>
            <div class="userLabel">{{friends[5].name}}</div>
            <div class="moodBreakdown" ng-show="myVar6">
              <br>
              <div class="moodLabel"><span>Mood Before</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji2.imageSRC}}">
                  {{friends[5].yourMoodBefore}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji1.imageSRC}}">
                  {{friends[5].theirMoodBefore}}
                </li>  
              <div class="moodLabel"><span>Mood After</span></div>
               <li class="ourMoodIcon">
                  Yours:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji4.imageSRC}}">
                  {{friends[5].yourMoodAfter}}
                </li>
                <li class="ourMoodIcon">
                  Theirs:
                  <img class="ourMoodEmoji" ng-src="{{friends[0].emoji[0].emoji3.imageSRC}}">
                  {{friends[5].theirMoodAfter}}
                </li> 
              <div class="moodLabel">Emojis Most Used<br><span>in Conversation</span></div>
              <p class="ourMoodIcon">
                <img class="ourMoodEmoji" ng-src="{{friends[5].emoji[0].emoji2.imageSRC}}">
                {{friends[5].moodUsed}}
              </p> 
              <p><button type="button" class="relationBtn btn btn-lg btn-danger" data-toggle="popover" title="Relationship" data-placement="bottom" data-content="You tend to be sad and angry around this person even though he is happy all of the time. Maybe take a break from each other and see how it goes.">Feedback</button></p> 
            </div>
        <hr>     
  </div>

  <!-- End of user's mood breakdown -->
