      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="about"> <img class="companyLogo" src="/images/emojiLogo.png" alt="Emojilyze" ></a>  

            </div>   
            <!-- /.navbar-collapse -->
            <div class="navbar-collapse collapse"> 
              <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="mymood">My Mood</a></li>
                <li class="active"><a ui-sref="theirmood">Their Mood</a></li>
                <li><a ui-sref="ourmood">Our Mood</a></li>
                <li><a ui-sref="weeklybreakdown">Weekly Breakdown</a></li>
                <li><a ui-sref="setup">Setup</a></li>
              </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <div class="jumbotron text-center pageTitleBar">
    <h4>Their Mood</h4>
    </div>
    <br>
    <div class="topFour">
     Your friend's top four emojis: 
    </div>
    <br>
    <div class="instructions">
        Click on any friend's emoji icon and see their mood's status!
    </div>
    <br>


  <div ng-controller="theirmoodCtrl" class="addButton">
    <!--<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Friend</h3>
        </div>
        <div class="modal-body">
            <form novalidate class="simple-form">
                Name: <input type="text" ng-model="user.name" /><br />
              </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" input type="submit" ng-click="ok(user)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Add Friend</button> -->

   
    <div class="userImage row" ng-repeat="friend in friends">
        <br>
        <div class="img-responsive">
            <img class="userIcon" ng-src="/{{friend.image}}"/>
                <br>
                <div class="userLabel">
                    {{friend.name}}
                </div>
        </div>
        <ul class="photo-grid">
            <div class="img-responsive">
            <li>
                <a href>
                    <figure>
                        <img class="emoji1" ng-src="{{friend.emoji[0].emoji1.imageSRC}}">
                        <figcaption><p>{{friend.emoji[0].emoji1.percentage}}</p></figcation>
                    </figure>
                </a>
                <div class="categoryLabel">{{friend.emoji[0].emoji1.category}}</div>
            </li>
            <li>
                <a href>
                    <figure>
                        <img class="emoji1" ng-src="{{friend.emoji[0].emoji2.imageSRC}}">
                        <figcaption><p>{{friend.emoji[0].emoji2.percentage}}</p></figcation>
                    </figure>  
                </a>
                <div class="categoryLabel">{{friend.emoji[0].emoji2.category}}</div>      
            </li>
        </div>
        <div class="img-responsive">
            <li>
                <a href>
                    <figure>
                        <img class="emoji1" ng-src="{{friend.emoji[0].emoji3.imageSRC}}">
                        <figcaption><p>{{friend.emoji[0].emoji3.percentage}}</p></figcation>
                    </figure>  
                </a> 
                <div class="categoryLabel">{{friend.emoji[0].emoji3.category}}</div>     
            </li>
            <li>
                <a href>
                    <figure>
                        <img class="emoji1" ng-src="{{friend.emoji[0].emoji4.imageSRC}}">
                        <figcaption><p>{{friend.emoji[0].emoji4.percentage}}</p></figcation>
                    </figure>  
                </a>
                <div class="categoryLabel">{{friend.emoji[0].emoji4.category}}</div>      
            </li>
        </div>
    </ul>
    <hr>
    </div>
  </div>  






