    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="about"> <img class="companyLogo" src="/images/emojiLogo.png" alt="Emojilyze" ></a>  

            </div>   
            <!-- /.navbar-collapse -->
            <div class="navbar-collapse collapse"> 
              <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="mymood">My Mood</a></li>
                <li><a ui-sref="theirmood">Their Mood</a></li>
                <li><a ui-sref="ourmood">Our Mood</a></li>
                <li class="active"><a ui-sref="weeklybreakdown">Weekly Breakdown</a></li>
                <li><a ui-sref="setup">Setup</a></li>
              </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <div ng-controller="aboutCtrl">
    <p><button type="button" class="altBtn btn btn-lg aboutButton" data-toggle="popover" title="About This Page" data-placement="bottom" data-content="Shows you how your moods change throughout the week. Do you use a lot happy emojis on Fridays? Lots of angry emojis on Mondays?">Weekly Breakdown</button></p>

      <div class="graphName">
        <h3> Your Emoji Use This Week</h3>
      </div>

    
      <div id="weeklyChart" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <d3-Bar></d3-Bar>

       <div class="collapse" id="collapseExample">
          <div class="well">
              {{weeklybreakdown[0].topemoji_description}}
          <br><br>

              <p class="textCenterBold">Top Emojis: </p>
              <p class="textCenter">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[0].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[1].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[2].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[3].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[4].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[5].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[6].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[7].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[0].topemoji[8].imageSRC}}">
              </p>
          </div>
        </div>
      </div>
    
  </div>


    <div class="graphName">
      <h3> Your Happiness Levels This Week </h3>
    </div>

    <div ng-controller="aboutCtrl" id="happyChart" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">  
      <div class="collapse" id="collapseExample2">
          <div class="well">
              {{weeklybreakdown[1].happyemoji_description}} <br><br>
              <p class="textCenterBold">Top Happy Emojis: </p>
              <p class="textCenter">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[0].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[1].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[2].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[3].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[4].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[5].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[6].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[7].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[1].happyemoji[8].imageSRC}}">
              </p>
          </div>
        </div>      
    </div>


    <div class="graphName">
      <h3> Your Sadness Levels This Week </h3>
    </div>
    <div ng-controller="aboutCtrl" id="sadChart" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample"> 
       <div class="collapse" id="collapseExample3">
          <div class="well">
            {{weeklybreakdown[2].sademoji_description}}  <br><br>
            <p class="textCenterBold">Top Sad Emojis: </p>
              <p class="textCenter">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[0].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[1].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[2].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[3].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[4].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[5].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[6].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[7].imageSRC}}">
                <img class="wellEmoji" ng-src="{{weeklybreakdown[2].sademoji[8].imageSRC}}">
              </p>
          </div>
        </div>
    </div>

    

