    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="mymood"> <img class="companyLogo" src="/images/emojiLogo.png" alt="Emojilyze" ></a>  

            </div>   
            <!-- /.navbar-collapse -->
            <div class="navbar-collapse collapse"> 
              <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="mymood">My Mood</a></li>
                <li><a ui-sref="theirmood">Their Mood</a></li>
                <li><a ui-sref="ourmood">Our Mood</a></li>
                <li class="active"><a ui-sref="weeklybreakdown">Weekly Breakdown</a></li>
                <li><a ui-sref="setup">Customize</a></li>
                <li><a ui-sref="about">About</a></li>
              </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <div ng-controller="aboutCtrl">
    <p><button type="button" class="altBtn btn btn-lg aboutButton" data-toggle="popover" title="About This Page" data-placement="bottom" data-content="Shows you how your moods change throughout the week. Do you use a lot happy emojis on Fridays? Lots of angry emojis on Mondays?">Weekly Breakdown</button></p>

      <div class="graphName">
        <h3> Your Emoji Use This Week</h3>
      </div>

      <div id="weeklyChart" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <d3-Bar></d3-Bar>

       <div class="collapse" id="collapseExample">
          <div class="well">
              At the beginning of the week, you don't use many emojis. Are you busy? Stressed out? However, by the end of the week, your conversations seem to be overflowing with emojis. Must be a good sign! <br><br>
              <p class="textCenterBold">Top Emojis: </p>
              <p class="textCenter">
                <img class="wellEmoji" src="/images/heartEyes.png">
                <img class="wellEmoji" src="/images/angry.png">
                <img class="wellEmoji" src="/images/bigEye.png">
                <img class="wellEmoji" src="/images/closedeyes.png">
                <img class="wellEmoji" src="/images/blush.png">
                <img class="wellEmoji" src="/images/quivering.png">
                <img class="wellEmoji" src="/images/openmouth.png">
                <img class="wellEmoji" src="/images/kissy.png">
                <img class="wellEmoji" src="/images/redFace.png">
                <img class="wellEmoji" src="/images/joy.png">
              </p>
          </div>
        </div>

      </div>

    <div class="graphName">
      <h3> Your Happiness Levels This Week </h3>
    </div>

    <div id="happyChart" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">  
      <div class="collapse" id="collapseExample2">
          <div class="well">
              You seem to use fewer happy emojis at the start of the week. Could it be that you are busy and stressed? However, after that mid-week mark, your mood drastically changes to being very happy. I'm assuming you love these days :) <br><br>
              <p class="textCenterBold">Top Happy Emojis: </p>
              <p class="textCenter">
                <img class="wellEmoji" src="/images/awkwardLaugh.png">
                <img class="wellEmoji" src="/images/blush.png">
                <img class="wellEmoji" src="/images/closedeyes.png">
                <img class="wellEmoji" src="/images/joy.png">
                <img class="wellEmoji" src="/images/openmouth.png">
                <img class="wellEmoji" src="/images/shy.png">
                <img class="wellEmoji" src="/images/tongue.png">
                <img class="wellEmoji" src="/images/tongue2.png">
                <img class="wellEmoji" src="/images/wideEyeTongue.png">
              </p>
          </div>
        </div>      
    </div>


    <div class="graphName">
      <h3> Your Sadness Levels This Week </h3>
    </div>
    <div id="sadChart" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample"> 
       <div class="collapse" id="collapseExample3">
          <div class="well">
            You tend to use sad emojis on Mondays, Wednesdays, and Sundays. Why is that? Are these your busy days? However, Friday seems to be the day when you use the fewest sad emojis. Is this when you have more free time to relax? <br><br>
            <p class="textCenterBold">Top Sad Emojis: </p>
              <p class="textCenter">
                <img class="wellEmoji" src="/images/bigEye.png">
                <img class="wellEmoji" src="/images/cry.png">
                <img class="wellEmoji" src="/images/crying.png">
                <img class="wellEmoji" src="/images/joy.png">
                <img class="wellEmoji" src="/images/exhausted.png">
                <img class="wellEmoji" src="/images/frowning.png">
                <img class="wellEmoji" src="/images/gasp.png">
                <img class="wellEmoji" src="/images/quivering.png">
                <img class="wellEmoji" src="/images/sigh.png">
              </p>
          </div>
        </div>
    </div>

    

