body{
	background: white;
  	padding: 2em;
  	font: 16px / 20px "Helvetica Neue", Helvetica;
  	padding-top: 70px;
}

.arc path {
  stroke: #fff;
}

ul li{
  display: block;  
}

.textCenter {
  text-align: center;
}

#emojilist li
{	
	display: inline-block;
}

#emojilist{
	text-align: center;
  padding-left: 0px;
}

.moodInstructions {
  text-align: center;
  font-size: 20px;
  height: 100%;
  vertical-align: middle;
  padding-top: 15px;
}

li .project-image{
	display: inline;
}

.glyphicon {
    font-size: 30px;
}

.medium-emoji {
	width: 70px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.moodGraphContainer {
	width: auto;
	height: auto;
}

#svgPie{                                              
  position: relative;                                                                                               
	float: none;
	text-align: center;
	width: 100%;
  margin: 0 auto;  
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.companyLogo
{
	float:left;
  width: 200px;
  height: 30px;
  position: relative;
  display: block;
}

.navbar-brand {
  padding-top: 12px;
}

.graph-key-bar 
{
	display:block;
	width:100%;
	height:75px;
	background-color: #abcabc;
	margin-bottom: 10px;
  border-radius: 6px;
}


.pageTitle {
	text-align: center;
}

.pageTitleBar {
  padding: 10px;
}

.category-dropdown 
{
	width:200px;
	margin-right: auto;
	margin-left: auto;
}

.dropdown-menu {
  width:200px;
}

.categoryBtn 
{
  margin-top: 10px;
	font-size: 20px;
	background-color: #ffd031;
}

.sortContainer 
{
	margin-right: auto;
	margin-left: auto;
}

.sortImage
{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#emojiImage 
{
  width: auto;
  height: auto;
}

.customCategoryForm 
{
	
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	text-align: center;
  max-height:100%;
  max-width:100%;
}

.chooseLabel
{
	text-align: center;
	font-size: 20px;
  max-height:100%;
  max-width:100%;
}

#customForm 
{
	font-size: 20px;
}

.formLabel
{
  margin-top: 10px;
}

.instructions 
{
	text-align: center;
	font-size: 20px;
}

.userIcon
{
	height:175px;
	width:175px;
	display: block;
	margin-right: auto;
	margin-left: auto;
  padding-top: 10px;
  max-width: 100%;
}

.userLabel {
	font-size:30px;
	text-align: center;
  padding-bottom: 10px; 
}

.emoji1 {
	height:75px;
	width:75px;
  max-width: 100%;
  display: inline-block;
}

.emojiLabel {
	font-size:15px;
	text-align: center;
}

.topFour {
	font-size:30px;
	text-align: center;
}

hr
{
  display: block;
  position: relative;
  background-color: #B8B8B8;
  height: 1px;
  width: 100%;
  vertical-align: center;
}

.sortImage {
  margin-left: auto;
  margin-right: auto;
  max-height:100%;
  max-width:100%;
}

.submitButton {
  margin-top: 10px;
}

============================

/* line 31, ../sass/style.scss */


/* line 37, ../sass/style.scss */
.iosbutton{
  padding: 1em 0 0;
  clear: both;
  text-transform: capitalize;
  font-weight: 200;
  color: #999;
  padding-top: 100px;
}

/* line 47, ../sass/style.scss */
.toggle-bg {
  background: white;
  border-radius: 2em;
  border: 0.12em solid #e6e6e6;
  display: block;
  /* ...So that we can set a height and width */
  float: left;
  /* ...So that it doesn't take up the full width of the page */
  height: 2em;
  /* You can change this later if you want */
  position: relative;
  /* Required to allow the switch to move around */
  width: 3.2em;
  /* This can be changed later as well */
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  position: relative;
}
/* line 59, ../sass/style.scss */
.toggle-bg:hover {
  border-color: #d9d9d9;
}
/* line 63, ../sass/style.scss */
.toggle-bg.on {
  background: #00dc61;
  border-color: #00c356;
}
/* line 68, ../sass/style.scss */
.toggle-bg input {
  margin: 0;
  padding: 0;
  width: 4.8em;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
  /* We want the input to be over the span.switch, which we'll give a z-index of 1 */
  /*IE*/
  zoom: 1;
  filter: alpha(opacity=0);

  /* initial toggle position */
  /* final relative toggle position */
}
/* line 84, ../sass/style.scss */
.toggle-bg input:checked ~ .switch {
  left: 0;
}
/* line 89, ../sass/style.scss */
.toggle-bg input ~ :checked ~ .switch {
  left: 1.18em;
}
/* line 93, ../sass/style.scss */
.toggle-bg input:checked {
  z-index: 0;
}

/* line 103, ../sass/style.scss */
.switch {
  background: white;
  border-radius: 2em;
  border: 0.1em solid #d9d9d9;
  display: block;
  float: left;
  height: 1.9em;
  width: 1.9em;
  left: -.1em;
  position: relative;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  z-index: 1;
  /* Remember, it must be below the invisible inputs */
}
/* line 116, ../sass/style.scss */
.switch.on {
  box-shadow: -0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), 0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}
/* line 122, ../sass/style.scss */
.switch.off {
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), -0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}

/* line 132, ../sass/style.scss */
.toggle-alternate {
  clear: both;
  margin: 1em 0 0;
  width: 4.48em;
}
/* line 137, ../sass/style.scss */
.toggle-alternate input {
  width: 6.24em;
}
/* line 140, ../sass/style.scss */
.toggle-alternate input ~ :checked ~ .switch {
  left: 2.46em;
}

/* line 147, ../sass/style.scss */
.toggle-alternate label {
  font-weight: 300;
  font-size: .9em;
  text-transform: uppercase;
  position: absolute;
  top: 0.55em;
}

/* line 156, ../sass/style.scss */
.toggle-bg label.on {
  left: .75em;
  color: white;
  text-shadow: 0 0.1em 0 #00dc61;
}

/* line 162, ../sass/style.scss */
.toggle-bg label.off {
  right: .55em;
  color: #aaa;
}

.sliders{
	padding-top: 75px;
}

.sliderlabler{
	right:-20px;
}


#orLabel {
  text-align: center;
}

.setupContainer {
  position: relative;
}

.sortingButton {
  float: left;
  margin-top: 10px;
}

/* Bar Graoh */
#chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.graphName{
  display: block;
  float: none;
  text-align: center;
  width: 100%;
}


.bar:hover {
  fill: red;
}

.axis text {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.modal-backdrop {
  bottom: 0;
}


.legend {                                                   
        font-size: 12px;                                          
}                                                           
      
rect {                                                      
        cursor: pointer;
        stroke-width: 2;                                          
}

rect.disabled {                              
  fill: transparent !important;              
}     


.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}                                                                                                                           

.photo-grid {
  margin: 1em auto;
  max-width: 100%;
  text-align: center;
}
 
.photo-grid li {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 110px;
}
 
.photo-grid img {
  display: block;
  height: auto;
  max-width: 100%;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px; 
}
 
.photo-grid figure {
  height: 75px;
  overflow: hidden;
  position: relative;
  width: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px; 
  vertical-align: middle;
}
 
.photo-grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px; 
}
 
.photo-grid figcaption p {
  display: block;
  font-size: 3em;
  position: relative;
  top: 5px;
  width: 75px;
  vertical-align: middle;
}

.photo-grid li:hover figcaption {
  opacity: .70;
}

.photo-grid figcaption p {
  display: table-cell;
  font-size: 25px;
  position: relative;
  top: -40px;
  width: 75px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: middle;
}
 
.photo-grid li:hover figcaption p {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.photo-grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}

.moodBreakdown {
  font-size: 20px;
  text-align: center;
}

.ourMoodEmoji {
  height:60px;
  width:60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.moodLabel {
  border-bottom:1px solid #B8B8B8;
  line-height:16px;
  text-align:center;
  font-size: 20px;
}

.moodLabel span {
  background:#FFF;
  position:relative;
  bottom:-8px; /* half of line-height */
  padding:0 15px;
 }


.ourMoodIcon {
  width: 80px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.btn {

  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
}

.btn-default {
  background-color: #abcabc;
  border-color: #abcabc;
  color: white;
}

.emojiRow {
  display: block;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
}

#aboutPages {
  margin: 0;
  padding: 0;
}

#aboutPages li {
  background: url('../images/bulletEmoji.png');
  margin: 0;
  padding: 4px 0 4px 55px;
  list-style: none;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.pageTitleGreen {
  color: #abcabc;
}

.aboutPageButton {
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
}

.categoryLabel {
  width: 30%;
  text-align: center;
  text-indent: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

<!-----mood-alt page ----->
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
padding: 0;
margin: 0;
height: 100%;
list-style: none;
overflow: hidden;
font-family: 'Lato', Calibri, Arial, sans-serif;
}
.progressDiv {
width: 84%;
background: #fcfcfc;
height: 325px;
border: 1px solid #ccc;
position: relative;
left: 7%;
top: 100px;
display: inline-block;
border-radius: 2px;
box-shadow: 0px 1px 1px 1px #ccc;
}

.statChartHolder {
width: 35%;
height: 90%;
position: relative;
border-right: 1px solid #ccc;
top: 15px;
    display: inline-block;
}

.statRightHolder {
display: inline-block;
height: 90%;
width: 64%;
position: relative;
top: -32px;
margin: 0;
}
.statRightHolder ul {
list-style: none;
    margin: 0;
}
.statRightHolder li {
border-bottom: 1px solid #ccc;
height: 85px;
width: 95%;
position: relative;
top: -25px;
}
.statRightHolder h3 {
display: inline-block;
margin-right: 15px;
color: #B6B5B5;
font-weight: 300;
font-size: 38px;
}
.statRightHolder span {
display: inline-block;
color: #B6B5B5;
font-size: 21px;
font-weight: 300;
}

.statsLeft {
    list-style:none;
    display:inline-block;
    width:45%;
}
.statsLeft li {
width: 100%;
height: 14px;
border: none;
top: 5px;
margin-bottom: 25px;
}
.statsLeft h3{
    font-size:17px;
    display: inline-block;
}
.statsLeft span{
    font-size: 17px;
    display:inline-block;
}
.statsRight {
width: 45%;
display: inline-block;
position: absolute;
}
.statsRight li {
width: 100%;
height: 14px;
border: none;
top: 5px;
margin-bottom: 25px;
}
.statsRight h3{
    font-size:17px;
    display: inline-block;
}
.statsRight span{
    font-size: 17px;
    display:inline-block;
}
/* Pie Chart */




.progress-pie-chart {
  width:200px;
  height: 200px;
  border-radius: 50%;

  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #81CE97;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #abcabc;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}

.viewBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.altBtn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.aboutButton {
  width: 100%;
  height: 60px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #eee;
  font-size: 18px;
}

.flirtyColorFont {
  color: #e99080;
  font-size: 28px;
}


.sadColorFont {
  color: #264f7b;
  font-size: 28px;
}


.happyColorFont {
  color: #F2E96F;
  font-size: 28px;
}


.angryColorFont {
  color: #990e11;
  font-size: 28px;
}


.sillyColorFont {
  color: #ee9201;
  font-size: 28px;
}

