
body {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}

ul li{
  border-style: solid;
  display: block; 
  color: #fff;
}


.btn-custom{
	border-color: #fff !important;
}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

li .project-image{
	display: inline;
}

.glyphicon {
    font-size: 30px;
}
#img-responsive {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}